:root {
  color-scheme: light dark;
  --text-primary: light-dark(#403f3d, #e1d4c9);
  --text-inverse: light-dark(#e1d4c9, #e1d4c9);
  --text-accent: light-dark(#b0907a, #b0907a);
  --bg-page: light-dark(#e1d4c9, #292826);
  --bg-container: light-dark(#665f55, #403f3d);
  --bg-overlay: light-dark(#403f3dcc, #292826cc);
  --border-primary: light-dark(#c1b6ad, #665f55);
  --border-inverse: light-dark(#665f55, #c1b6ad);
}

[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-primary);
  background-color: var(--bg-page);
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px 40px;
}

.header-menu {
  margin: 0 auto;
}

.header-menu_list {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.list-item_link {
  text-decoration: none;
}

.main {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.button {
  padding: 22px 78px;
  border: 0;
  border-radius: 100px;
  background-color: var(--bg-page);
}

.hero-section {
  background-image: url('assets/img/hero.jpg');
  background-position: center;
  background-size: 100% 100%;
  color: var(--text-inverse);
  border-radius: 40px;
}

.title {
  font-weight: 600;
}

.hero-section_container {
  width: 530px;
  padding: 100px;
}

.hero-section_title {
  line-height: 105%;
  font-size: 72px;
}

.hero-section_button {
  margin-top: 40px;
}

.section_title {
  line-height: 125%;
  font-size: 60px;
}

.contacts-container_title {
  line-height: 125%;
  font-size: 24px;
}

.title .accent {
  font-style: italic;
  color: var(--text-accent);
}

.footer {
  padding: 100px 40px 40px;
}

.footer-container {
  background-color: var(--bg-container);
  border-radius: 40px;
}